.row
  .col-md-10.col-md-offset-1
    %h3 Comment venir
    %p Ce que Totem vous propose c'est : " Tout est prêt sur le terrain pour que vous veniez mettre en place vous même entre potes votre lieu de vie, de chill, d'art, de manger et de fête pendant 4 jours ". Venez donc avec ... 
    %h5 - Des amis ! 
    %p Avec qui vous pourrez monter un projet, venir en voiture, dormir, discuter au coin du feu des trucs que vous vous êtes pas dits... et pour qu'ils se fassent de nouveaux amis car à Totem on se fait plein d'amis. Totem est un festival de potes. 
    %h5 - Un déguisement
    %p S'il existe bien une formalité à Totem, c'est le déguisement. Il est obligatoire le samedi soir et recommandé le reste du temps.
    %h5 - Une tente
    %p et une trousse de toilette, des affaires de rechange, une couette etc... car une Totem réussie est une Totem où on y a agréablement dormi, et où on s'est réveillé à l'aise comme chez soi. Totem cherche à maximiser les moments simples et géniaux , dormir en fait partie. 
    %h5 - À manger 
    %p C'est la nouveauté cette année, nous allons construire des cuisines en plein air qui permettront de préparer à manger pour 10 à 20 personnes facilement de manière à ce que tout le monde puisse passer du temps à cuisiner et manger. Manger est le début du bonheur, c'est une activité sacré, et inchallah le premier catalyseur de l'amitié. Tout sera dispo sur place (casseroles, ustensiles, plans de travail, couverts, assiettes...). Il ne vous reste plus qu'à embarquer avec vous le nécessaire pour cuisiner quelques repas pour une petite troupe d'amis ! Le vendredi soir est le soir réservé aux tablées légendaires. 
    %h5 - À boire
    %p Pour la boisson et notamment l'alcool, nous n'organisons pas de bar donc si vous voulez boire il faut également embarquer votre alcool. Il y a des superrmarchés pas cher dans le coin et qui seront ravis de vous fournir. Cela vous reviendra au final moins cher que dans un festival standard.
    %h5 - Un projet 
    %p Ce n'est pas du tout obligatoire de venir avec un projet, mais c'est cool. C'est la responsabilité de chacun de nourrir le clafoutis créatif du festival. Concerts, espaces chill, siestes sonores, cinéma, préparation d'un cocktail, d'une pizza géante, organisation d'un tournoi de foot, construction, peintures, ateliers ... vous êtes libres et sommés d'être originaux, c'est à dire vous-mêmes. 
    %h5 - Une voiture 
    %p Vu qu'il y a pas mal de choses à ramener, c'est plus facile de s'organiser en voiture. Et puis, Totem aime bien la voiture avec son côté cocon pour groupe d'amis, la promiscuité qu'elle crée, le covoiturage qui s'organise et permet dès l'aller de former des nouvelles connaissances... Si on a suffisament de visibilité sur le budget (cest à dire si les gens prennent leur billets vite) alors nous tenterons de soutenir dans la mesure du possible la location de minibus pour faciliter le transport des gens. <br> <br> <br>

.row
  .col-md-10.col-md-offset-1
    %h3 Le terrain

    %img{:alt => "gabi point", :src => "http://imgur.com/fIA29Ap.png", :style => "width:100%; margin-bottom : 20px"}/

    %iframe{:allowfullscreen => "", :frameborder => "0", :height => "450", :src => "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10586.144712367013!2d0.12180778160534331!3d48.44624111635685!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e20dadcb23af25%3A0x1c7776fd479df68e!2sLe+Moulin%2C+61000!5e0!3m2!1sfr!2sfr!4v1472427062366", :style => "border:0", :width => "100%"}







