.row
  .col-md-10.col-md-offset-1
    %h3 En deux mots 
    %p Totem est un festival artistique participatif de 3 jours pendant lequel chaque participant est invité à proposer son art (au sens large) et le festival est constitué du clafoutis créatif qui résulte. Il n'y pas de public mais que des participants. La célébration atteint son comble lors du brasier du Totem la dernière nuit. Tout ceci dans la bonne humeur la plus totale. Notre réussite se mesure en création d'amitiés. <br><br>

    %img{:alt => "test", :src => "/assets/images/masque-plume.jpg", :style => "width:100%;"}/     
    
.row
  .col-md-10.col-md-offset-1

    %h3 Le principe maître
    %p Un individu qui partage sa créativité assume sa différence et accepte naturellement celle d’autrui. La créativité est à la base du vivre-ensemble.<br><br>

    %img{:alt => "test", :src => "/assets/images/gabi point.jpg", :style => "width:100%;"}/

    %h3 Quelques valeurs
    %p Pour préparer un bon clafoutis créatif vous aurez besoin de 5 ingrédients indispensables: la créativité, la bonne humeur, l'inédit, l'ouverture, et la nature. 
    <br>Créativité : Remi dit que tout le monde peut cuisiner (dans Ratatouille). Nous disons que tout le monde peut créer ! Il y a trop de gens qui se considèrent comme peu créatifs. La créativité peut prendre d’inombrables formes autres que le dessin ou la musique : elle peut même se montrer dans la manière dont on trie un tableau Excel. Il n’existe aucune personne au monde qui n’a pas de savoir-faire à partager. À Totem, les étudiants en architecture construisent des sculptures ou des scènes, sur lesquels les musiciens jouent ou mixent. D'autres font la cuisine, lisent l'avenir, organisent des combats de sumo ou aménagent un salon de thé marocain. Il y en a pour tous les goûts.<br><br>

    %img{:alt => "test", :src => "/assets/images/argile.jpg", :style => "width:100%;"}/

    <br><br>La bonne humeur : quoi qu’il arrive, nous, organisateurs, préférons voir le verre à moitié plein plutôt qu’à moitié vide. Nous voyons un futur ami dans chaque inconnu et la réussite du festival passe par le nombre de nouvelles amitiés qu'on génère. Propager l’optimisme est un credo qui nous guide dans toutes nos actions. Lorsque vous entrez dans Totem, vous laissez de côté les mauvaises ondes, et vous pénétrez dans une bulle de bonne humeur. C'est cette énergie positive que nous célébrons autour du Totem qui brûle le samedi soir au coeur de la nuit, lorsque tout le monde est déguisé.<br><br>

    %img{:alt => "test", :src => "/assets/images/photo couple totem 3.png", :style => "width:100%;"}/  

    <br><br> L'inédit : la rentrée, la semaine et le travail s’occupent déjà très bien de mettre en rang les troupes du quotidien. A TOTEM règne l’inédit. Nous voulons chasser les banalités et rendre unique chaque instant. Et plus particulièrement l’instant où nous mettons feu au totem que nous construisons et qui symbolise l’échange créatif qui nous rassemble. Ce moment est extratemporel et intense. Et si tout le monde est déguisé, c'est justement pour aider chacun à mettre de côté son quotidien, ses habitudes, et à se libérer le temps d'un week-end qui fait la part belle au farfelu.<br><br>

    %img{:alt => "test", :src => "/assets/images/Jagon.jpg", :style => "width:100%;"}/


    <br><br> L'ouverture : il n’y a pas de barrières à l’esprit Totem. Qui que vous soyez, vous pouvez partager notre moment de création et contribuer dans la mesure que vous voudrez. Le Totem idéal est constitué de participants de tous les âges, toutes les personnalités, tous les horizons sociaux et culturels. Et chacun participe à la mesure qu'il souhaite. <br><br>

    %img{:alt => "test", :src => "/assets/images/toteam.jpg", :style => "width:100%;"}/

    <br><br> La Nature : Totem c'est un peu la revanche de l'organique sur l'industriel. Pas de béton ni de ville mais du bois et des fougères. On prépare à manger sur un vrai feu, on construit de quoi camper simplement ou on dort à la Belle Etoile. On dit bonjour aux verres de Terre quand on les croise, et on dit : "Merci Nature d'être là, super sympa !". Comme ça quand on revient en ville on a des plus gros biceps et une immunité boostée !<br><br>
    
    %img{:alt => "test", :src => "/assets/images/camping.jpg", :style => "width:100%;"}/
    %img{:alt => "test", :src => "/assets/images/jagon-loin.jpg", :style => "width:100%;"}/

    %h4 Quel est l'histoire de Totem ? 
    
    %p Tout a commencé quand l'un des organisateurs revenait du festival Burning Man - et plus exatement du génialissime camp Shady Waffle - et a voulu recréer en miniature l'ambiance particulière de partage qui y régne. Les 80 fêtards de cette première édition ambiance électro sont devenus 390 participants deux ans plus tard, motivés pour bouger en plein automne dans la cambrousse pour monter des projets de tous les types.<br><br>

    %iframe{:allowfullscreen => "", :frameborder => "0", :height => "315", :src => "https://www.youtube.com/embed/ibWrEhGJxTo", :width => "560"}

    %iframe{:allowfullscreen => "", :frameborder => "0", :height => "315", :src => "https://www.youtube.com/embed/OBZN9IDkEnY", :width => "560"}




    
    
